html, body {
  background-color: #6C3483;
  height: 100%;
  width: 100%;
}

#main {
  text-align: center;
  margin-top: 25px;
}

#flex {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  width: 83%;
}

li {
  background-color: #D7DBDD;
  list-style-type: none;
  text-align: left;
  width: 100%;
  margin: 4px;
  border-radius: 5px;
}

li div {
  background: black;
  color: #fff;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  float: left;
  margin-right: 3px;
}

li div:hover {
  background: white;
  color: black;
}

#app {
  background-color: white;
  color: black;
  margin: auto;
  height: auto;
  padding-bottom: 10px;
  padding-top: 2px;
  border-radius: 5px;
  width: 80%;
}

li button {
  float: right;
  height: 20px;
}

#submit {
  float: right;
}
